.popup__close {
    background: url(../../../images/icon/button-close.svg);
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.5s;
}

.popup__close:hover {
    opacity: 0.6;
}