.card__like {
    margin-left: auto;
    background: url(../../../images/icon/like-off.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 22px;
    height: 19px;
    border: transparent;
    transition: all 0.5s;
}

.card__like:hover {
    opacity: 0.5;
}